@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">


   @* @await Html.PartialAsync("_LoadingScreen")*@
    @await Html.PartialAsync("_BoardGame")
    @await Html.PartialAsync("_MainMenu")
    @await Html.PartialAsync("_Chat")


    @* <div style="display:none" id="myConnectionIdDiv"></div> *@
    <div id="displayUsers">
        <div id="usersList"></div>
        <div id="usersListDisconnected"></div>
    </div>
  

    
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5/dist/tippy-bundle.iife.js"></script>
@* <script src="~/js/chat.js"></script> *@