<div id="chatContainer" class="uninteractable">
    <div id="chatBox">
        <div class="users_heading myResponsiveTextMedium"> 🧙‍♀️ Online Users 🧙 </div>
        <div id="onlineUserContainer">
        </div>
    </div>
</div>