<div class="container" id="gameInvitation">
    <div class="row">
        <div id="gameInvitationText1">You have been invited to a game</div>
    </div>

    <div class="row">
        <div style="display: flex;">
            <div id="gameInvitationInviter"></div>
            <div id="gameInvitationMode"></div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-light" id="acceptGameInvitation">Accept</button>
        <button class="btn btn-light" id="declineGameInvitation">Decline</button>
    </div>
</div>