<div id="gameModeMenu">
    <span id="gameModeTitle">Game Modes</span>
    <div id="gameModeList">
    </div>

    <div class="optionsLowestVoices optionsLowestVoicesForRules">
        <div id="closeGameRulesMenu">Close</div>
    </div>
</div>