<div id="mainMenu" class="uninteractable d-flex justify-content-start align-items-center vh-100">
    <div id="mainMenuVoices" class="flex-column">
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuNewGame">New game</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuMyDeck">My deck</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuRules">Rules</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuOptions">Options</div>
    </div>
</div>