<div class="container" id="loginForm">
    <h2 class="text-center mb-4">Login</h2>
    <div>

        <div class="form-group">
            <div>Username:</div>
            <div class="d-flex justify-content-center align-items-center">
                <input class="form-control" id="myname" placeholder="Enter your username"
                    style="width: 70%;margin: auto;">
            </div>
        </div>

        <div class="form-group">
            <div>Password:</div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="input-group" style="width: 70%;">
                    <input type="password" id="mypassword" placeholder="Enter your password" class="form-control">
                    <button class="btn btn-outline-secondary" type="button" id="mypasswordchecker">Show</button>
                </div>
            </div>
        </div>

        <div class="row heightfivepercent">
            <div class="col-12">
                <div id="loginSpinner" class="spinner"></div>
                <div id="loginError">ERROR. TRY AGAIN</div>
                <div id="loginErrorAlreadyLoggedin">YOU ARE ALREADY LOGGED IN</div>
            </div>
        </div>

        <button id="loginbutton" class="btn btn-block">Login</button>
    </div>
</div>

<div id="mainMenu" class="uninteractable d-flex justify-content-start align-items-center vh-100">
    <div id="mainMenuVoices" class="flex-column">
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuNewGame">New game</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuMyDeck">My deck</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuRules">Rules</div>
        <div class="mainMenuVoicesText myResponsiveTextBig" id="mainMenuOptions">Options</div>
    </div>
</div>

<div id="optionsMenu">
    <span id="optionsTitle">Options</span>

    <div class="slidecontainer optionsVoices">
        <div class="optionsText" id="optionsVolumeText">Volume:</div>
        <input type="range" id="myRange" name="vol" min="0" max="100" defaultValue="100">
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsSongText">Music:</div>
        <select name="background" id="musicChooseOptions">
            <option value="default">Default</option>
            <option value="A_Time_Forgotten">A Time Forgotten</option>
            <option value="Now-We-Ride">Now We Ride</option>
            <option value="Surreal-Forest">Surreal Forest</option>
        </select>
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsBackgroundText">Background:</div>
        <select name="background" id="backgroundChooseOptions">
            <option value="chandra">Chandra</option>
            <option value="jace">Jace</option>
            <option value="nissa">Nissa</option>
            <option value="ajani">Ajani</option>
            <option value="liliana">Liliana</option>
        </select>
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsStyleText">Style:</div>
        <select name="theme" id="themeChooseOptions">
            <option value="default">Default</option>
            <option value="plain">Plain</option>
            <option value="swamp">Swamp</option>
            <option value="forest">Forest</option>
            <option value="mountain">Mountain</option>
            <option value="island">Island</option>
        </select>
    </div>


    <div class="optionsVoices">
        <div class="optionsText" id="optionsLanguageText">Language:</div>
        <select name="theme" id="languageChooseOptions">
            <option default value="english">English</option>
            <option value="italian">Italiano</option>
        </select>
    </div>


    <div class="optionsLowestVoices">
        <hr>
        <div id="closeOptionsMenu">Close</div>
    </div>

</div>

<div id="rulesMenu">
    <span id="rulesTitle">Rules</span>
    <div id="rulesAbilitiesList"></div>
    <div class="optionsLowestVoices optionsLowestVoicesForRules">
        <div id="closeRulesMenu">Close</div>
    </div>
</div>

<div id="gameModeMenu">
    <span id="gameModeTitle">Game Modes</span>
    <div id="gameModeList">

    </div>

    <div class="optionsLowestVoices optionsLowestVoicesForRules">
        <div id="closeGameRulesMenu">Close</div>
    </div>
</div>



















<div class="col-12 col-md-12" id="myDeckMenu">

    <div id="myDeckMenuContainer" class="container-fluid">
         <div class="row">
            <button id="myDeckMenuBackButton" class="btn btn-primary">Back to menu</button>
        </div>

        <div class="row">
            <div id="myDeck" class="col-12 col-md-3">
                <div id="myDeckCardPreview" class="mb-3">
                    <div style="display: inline-flex; position: relative; width: 100%;">
                        <button id="myDeckCardPreviewImageButton" class="btn btn-secondary">Hide Preview</button>
                    </div>
                    <img id="myDeckCardPreviewImage" class="img-fluid" src="../resources/cardBack.jpg">
                </div>

                <!-- Info deck -->
                <div id="myDeckDetails"  class="d-flex flex-column">
                    <div id="myDeckName" class="mb-2"></div>
                    <div id="myDeckCardCount" class="mb-2"></div>
                    <div id="myDeckAlert" class="mb-2">You can't add any more copy of this card!</div>
                    <div id="myDeckList" class="mb-2"></div>
                    <div id="myDeckSaveButtonContainer" class="mb-2">
                        <button id="myDeckSaveButton" class="btn btn-success">SAVE THE DECK</button>
                    </div>
                </div>
            </div>
            
            <div id="myDeckCardPicker" class="col-12 col-md-9">
              <div id="myDeckSetPickerContainer" class="row d-flex align-items-center justify-content-between">
                    <!-- Selettore Mazzi -->
                    <div id="myDeckDecksSelector" class="d-flex align-items-center col-12 col-md-3 mb-3">
                        <span id="myDeckDecksSelectorText" class="mr-2">My decks</span>
                        <select class="myDecksPickerSelector form-control mr-2" id="myDecksPickerSelector"></select>
                        <span id="myDecksPickerSelectorDelete" class="ml-2">🗑️</span>
                        <span id="myDecksPickerSelectorAdd" class="ml-2">➕</span>
                    </div>

                    <!-- Modalità di gioco -->
                    <div id="myDeckDecksGameMode" class="d-flex align-items-center col-12 col-md-2 mb-3">
                        <span id="myDeckGameModeText" class="mr-2">Game Modes</span>
                        <span id="myDeckGameModeButton">❔</span>
                    </div>

                    <!-- Ricerca normale -->
                    <div id="myDeckDecksSearch" class="d-flex align-items-center col-12 col-md-3 mb-3">
                        <input placeholder="Search by name" class="form-control mr-2" id="myDeckDecksNormalSearchValue" />
                        <button id="myDeckDecksNormalSearchButton" class="btn btn-primary mr-2">Search</button>
                        <span id="normalSearchSpinner" class="spinner"></span>
                    </div>

                    <!-- Filtro avanzato -->
                    <div id="myDeckDecksSearchFilters" class="d-flex align-items-center col-12 col-md-2 mb-3">
                        <button id="myDeckDecksSearchButton" class="btn btn-secondary">Advanced Search</button>
                    </div>

                    <!-- Zoom -->
                    <div id="myDeckDecksSetsAndZoom" class="d-flex align-items-center col-12 col-md-2 text-center mb-3">
                        <span id="myDeckZoomSelectorPlus" class="mx-2">➕</span>
                        <span id="myDeckZoomSelectorIcon">🔍</span>
                        <span id="myDeckZoomSelectorMinus" class="mx-2">➖</span>
                    </div>
                </div>

                <!-- Contenitore delle carte -->
                <div id="myDeckCardPickerContainer" class="row"></div>
            </div>
        </div>
    </div>

    <div id="myDeckAdvancedSearch" class="container-fluid">

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText">Card Name</div>
            </div>
            <div class="col-12 col-md-9">
                <input class="form-control advancedSearchLargeInput" type="text" id="advancedSearchName"
                    placeholder="Any words in the name, e.g 'Fire'">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText">Text</div>
            </div>
            <div class="col-12 col-md-9">
                <input class="form-control advancedSearchLargeInput" type="text" id="advancedSearchText"
                    placeholder="Any text, e.g 'Draw a card'">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText">Type Line</div>
            </div>
            <div class="col-12 col-md-9">
                <input class="form-control advancedSearchLargeInput" type="text" id="advancedSearchTypeLine">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText">Sets</div>
            </div>
            <div class="col-12 col-md-9">
                <select id="myDeckSetPickerSelector" class="selectpicker form-control" multiple data-actions-box="true"
                    data-live-search="true"></select>
                <div id="myDeckSetPickerSelectorText" class="text-muted small">Hold down the Ctrl (Windows) or Command
                    (Mac) button to select multiple options.</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText">Colors</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="advancedSearchCheckboxGroupContainer">
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchTypeColorUncheck1"
                            id="advancedSearchTypeColorWhite">
                        <div class="advancedSearchText" id="advancedSearchTypeColorWhiteText">White</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchTypeColorUncheck1" id="advancedSearchTypeColorBlue">
                        <div class="advancedSearchText" id="advancedSearchTypeColorBlueText">Blue</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchTypeColorUncheck1"
                            id="advancedSearchTypeColorBlack">
                        <div class="advancedSearchText" id="advancedSearchTypeColorBlackText">Black</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchTypeColorUncheck1" id="advancedSearchTypeColorRed">
                        <div class="advancedSearchText" id="advancedSearchTypeColorRedText">Red</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchTypeColorUncheck1"
                            id="advancedSearchTypeColorGreen">
                        <div class="advancedSearchText" id="advancedSearchTypeColorGreenText">Green</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchTypeColorColorless">
                        <div class="advancedSearchText" id="advancedSearchTypeColorColorlessText">Colorless</div>
                    </div>
                </div>
                <div>
                    <select name="valueStats" id="advancedSearchStatsValueType">
                        <option value="exact">Exactly these colors</option>
                        <option value="including">Including these colors</option>
                        <option value="atMost">At most these colors</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchFieldCommander">Commander</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="advancedSearchCheckboxGroupContainer">
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchCommanderColorUncheck1"
                            id="advancedSearchCommanderColorWhite">
                        <div class="advancedSearchText" id="advancedSearchTypeColorWhiteText">White</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchCommanderColorUncheck1"
                            id="advancedSearchCommanderColorBlue">
                        <div class="advancedSearchText" id="advancedSearchTypeColorBlueText">Blue</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchCommanderColorUncheck1"
                            id="advancedSearchCommanderColorBlack">
                        <div class="advancedSearchText" id="advancedSearchTypeColorBlackText">Black</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchCommanderColorUncheck1"
                            id="advancedSearchCommanderColorRed">
                        <div class="advancedSearchText" id="advancedSearchTypeColorRedText">Red</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" class="advancedSearchCommanderColorUncheck1"
                            id="advancedSearchCommanderColorGreen">
                        <div class="advancedSearchText" id="advancedSearchTypeColorGreenText">Green</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchCommanderColorColorless">
                        <div class="advancedSearchText" id="advancedSearchTypeColorColorlessText">Colorless</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchFieldCmC">Mana Cost</div>
            </div>
            <div class="col-12 col-md-9">
                <input class="advancedSearchLargeInput" type="text" id="advancedSearchCmC"
                    placeholder="Any mana symbols, eg '{W}{W}'">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchStats">Stats</div>
            </div>
            <div class="col-12 col-md-3">
                <select name="valueStats" id="advancedSearchStatsValueStats">
                    <option value="cmc">Mana value</option>
                    <option value="power">Power</option>
                    <option value="toughness">Toughness</option>
                    <option value="loyalty">Loyalty</option>
                </select>
            </div>
            <div class="col-12 col-md-4">
                <select name="valueEquals" id="advancedSearchStatsValueEqual">
                    <option value="1">Equal to</option>
                    <option value="2">Less than</option>
                    <option value="3">Greater than</option>
                    <option value="4">Less than or equal to</option>
                    <option value="5">Greater than or equal to</option>
                    <option value="6">Not equal to</option>
                </select>
            </div>
            <div class="col-12 col-md-2">
                <input class="advancedSearchLargeInput" type="text" id="advancedSearchStatsValueAmount"
                    placeholder="Any value, e.g '2'">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchRarity">Rarity</div>
            </div>
            <div class="col-12 col-md-9">
                <div class="advancedSearchCheckboxGroupContainer">
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchRarityCommonInput">
                        <div class="advancedSearchText" id="advancedSearchRarityCommon">Common</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchRarityUncommonInput">
                        <div class="advancedSearchText" id="advancedSearchRarityUncommon">Uncommon</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchRarityRareInput">
                        <div class="advancedSearchText" id="advancedSearchRarityRare">Rare</div>
                    </div>
                    <div class="advancedSearchCheckboxGroup">
                        <input type="checkbox" id="advancedSearchRarityMythicInput">
                        <div class="advancedSearchText" id="advancedSearchRarityMythic">Mythic</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchOnePerIdText">Unique Id</div>
            </div>
            <div class="col-12 col-md-9">
                <input type="checkbox" id="advancedSearchOnePerIdValue">
                <span id="advancedSearchOnePerIdTextField">Remove multiple copies from multiple sets</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-3">
                <div class="advancedSearchText" id="advancedSearchFieldFlavorText">Flavor text</div>
            </div>
            <div class="col-12 col-md-9">
                <input type="text" class="advancedSearchLargeInput" placeholder="Any flavor text, e.g 'Jhoira'"
                    id="advancedSearchFlavorText">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-12 col-md-12">
                <div id="advancedSearchSpinner" class="spinner"></div>
                <div id="advancedSearchError">ERROR. TRY AGAIN</div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6 text-end">
                <button id="myDeckAdvancedSearchSearchButton" class="w-100">Search</button>
            </div>
            <div class="col-12 col-md-6 text-start">
                <button id="myDeckAdvancedSearchCloseButton" class="w-100">Close</button>
            </div>
        </div>

    </div>

    <div id="myDeckCreateName">
        <div id="myDeckCreateNameText">Insert the name for your deck</div>
        <div>
            <input id="myDeckCreateNameInput" type="text">
        </div>
        <button id="myDeckCreateNameSaveButton">Save</button>
        <button id="myDeckCreateNameBackButton">Back</button>
    </div>

    <div id="myDeckDelete">
        <div id="myDeckDeleteText">Are you sure you want to delete?</div>
        <button id="myDeckDeleteConfirmButton">Delete</button>
        <button id="myDeckDeleteBackButton">Back</button>
    </div>

    <div id="myDeckEdit">
        <div id="myDeckEditText">Your changes have been saved</div>
        <button id="myDeckEditBackButton">Back</button>

    </div>

</div>



<div class="container" id="gameInvitation">
    <div class="row">
        <div id="gameInvitationText1">You have been invited to a game</div>
    </div>

    <div class="row">
        <div style="display: flex;">
            <div id="gameInvitationInviter"></div>
            <div id="gameInvitationMode"></div>
        </div>

    </div>

    <div class="row">
        <button id="acceptGameInvitation">Accept</button>
        <button id="declineGameInvitation">Decline</button>
    </div>
</div>