<div id="optionsMenu">
    <span id="optionsTitle">Options</span>

    <div class="slidecontainer optionsVoices">
        <div class="optionsText" id="optionsVolumeText">Volume:</div>
        <input type="range" id="myRange" name="vol" min="0" max="100" defaultValue="100">
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsSongText">Music:</div>
        <select class="form-select-sm" name="background" id="musicChooseOptions">
            <option value="default">Default</option>
            <option value="A_Time_Forgotten">A Time Forgotten</option>
            <option value="Now-We-Ride">Now We Ride</option>
            <option value="Surreal-Forest">Surreal Forest</option>
        </select>
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsBackgroundText">Background:</div>
        <select class="form-select-sm" name="background" id="backgroundChooseOptions">
            <option value="chandra">Chandra</option>
            <option value="jace">Jace</option>
            <option value="nissa">Nissa</option>
            <option value="ajani">Ajani</option>
            <option value="liliana">Liliana</option>
        </select>
    </div>

    <div class="optionsVoices">
        <div class="optionsText" id="optionsStyleText">Style:</div>
        <select class="form-select-sm" name="theme" id="themeChooseOptions">
            <option value="default">Default</option>
            <option value="plain">Plain</option>
            <option value="swamp">Swamp</option>
            <option value="forest">Forest</option>
            <option value="mountain">Mountain</option>
            <option value="island">Island</option>
        </select>
    </div>


    <div class="optionsVoices">
        <div class="optionsText" id="optionsLanguageText">Language:</div>
        <select class="form-select-sm" name="theme" id="languageChooseOptions">
            <option default value="english">English</option>
            <option value="italian">Italiano</option>
        </select>
    </div>


    <div class="optionsLowestVoices">
        <hr>
        <div id="closeOptionsMenu">Close</div>
    </div>

</div>