<div id="rulesMenu">
    <span id="rulesTitle">Rules</span>
    <div id="rulesAbilitiesList"></div>
    <div class="optionsLowestVoices optionsLowestVoicesForRules">
        <div id="closeRulesMenu">Close</div>
    </div>
</div>
