:root {
  --background-color: #fafafa;
  --primary-color: #7ed6df;
  --border-color: #fff29c;
  --light_Text_color: white;
  --dark_Text_contour: black;
  --option_Text_hover: #bb240a;
  --option_Background_color: darkslategray;
  --option_Background_color_lighter: rgb(64, 105, 105);
  --option_Border_color: #212529;
  --option_Border_color_darker: #15181b;
  /* Swamp style */
  /* Plains style */
  /* Mountain style */
  /* Forest style */
  /* Island style */
}

#boardGameContainer {
  z-index: 9999;
  width: 100%;
  display: none;
  height: 100%;
  position: absolute;
  background-color: var(--option_Background_color);
}

#contextMenu{
  position: absolute;
  background: var(--option_Background_color);
  border-radius: 10px;
  border: 2px solid var(--option_Border_color);
  width: 24%;
  height: 50%;
  top: 25%;
  left: 38%;
  padding: 2%;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contextMenu>button{
  width: 50%;
}

#contextMenuToken{
  display: flex;
    height: 30px;
}

#contextMenuTokenQuantity{
  width: 50px;
}

#zoneInspector{
  position: absolute;
  background: var(--option_Background_color);
  border-radius: 10px;
  border: 2px solid var(--option_Border_color);
  width: 50%;
  height: 60%;
  top: 20%;
  left: 25%;
  padding: 2%;
  z-index: 9999;
  display:none;
  overflow-y: auto;
}

#zoneInspectorCardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuisce uniformemente lo spazio tra gli elementi */
  gap: 10px; /* Aggiunge spazio tra gli elementi */
  height: -5%;
}
.cardContainerSneaked{
  flex-basis: calc(25% - 20px); /* Calcola la larghezza per 6 elementi per riga con spazio tra di loro */
  max-width: calc(25% - 20px); /* Assicura che ogni immagine sia larga quanto l'elemento della griglia con spazio tra di loro */
  height: 200px; /* Altezza automatica per mantenere l'aspetto proporzionale delle immagini */
  width: 50px;
  margin: 5px; /* Aggiungi spazio tra le immagini */
}

.cardOnTheTableSneaked{
  height: 100%;
}

#inviteSection{
  position: absolute;
  background: var(--option_Background_color);
  border-radius: 10px;
  border: 2px solid var(--option_Border_color);
  width: 34%;
  height: 54%;
  top: 23%;
  left: 33%;
  padding: 2%;
  z-index: 9999;
}

#boardGame {
  width:80%;
  height: 100%;
}

#gameMenuZone{
  width: 20%;
  height: 100%;
  background: azure;
  position: absolute;
  top: 0;
  right: 0%;
  padding: 1%;
  background: var(--option_Background_color);
  border-left: 2px solid var(--option_Border_color);
}

.playerBoard {
  width: 50%;
  height: 50%;
  float: left;
}

.playerBoardExtended {
  height: 50%;
  float: left;
}

#boardPlayer1 {
  background: #DDD;
}

#boardPlayer2 {
  background: #AAA;
}

#boardPlayer3 {
  background: #777;
}

#boardPlayer4 {
  background: #444;
}

#rulesGameButton, #gameModeGameButton {
  width:49%
}


.handZone {
  background-color: aliceblue;
  height: 33%;
}

.deckZone {
  height: 33%;
  background-color: brown;
}

.graveyardZone {
  height: 33%;
  background-color: yellow;
  flex-direction: row;
  justify-content: flex-start;

}

.exiledZone {
  height: 33%;
  background-color: green;
  flex-direction: row;
  justify-content: flex-start;
}

.landZone {
  background-color: bisque;
  height: 33%;
}

.tokenZone {

}

.cardZone {
  background-color: blueviolet;
  height: 34%;
}

.commanderZone {
  height: 34%;
  background-color: pink;
}

.planeswalkerZone{
  height: 33%;background-color: aqua;
}


.playerNameZone{
  height: 34%;background-color: cornflowerblue;
  display:flex;
  align-items: center;
  justify-content: space-around;
}


.gameValidities[disabled]{
  color:red;
}

#startGameButtonContainer{
  align-items: center;
  display: inline-grid;
}

#selectDeckToPlay{
  width: 90%;
  position: relative;
}

#modeSelection{
  width: 90%;
}

.startGameButtonContainerrow{
  position:absolute; bottom:2%; width:89%
}

.friendRow{
  height:30%;
}

.invitedFriendContainer{
  columns: 2;
}

#invitedFriendsArea{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 2px solid var(--option_Border_color);
  height: 50%;
  max-height: 50%;
  padding-left: 6%;
  overflow-y: auto;
}

#inviteFriends{
  width:80%;
}

.gameModesRow{
  margin-top:2%;
}

#gameModesText,#validValidity{
  text-align: center;
}

.gameValidities,#gameTeamText{
  text-align: center;
}

.teamSelectContainer, .teammate{
  display:flex;
}

.teamSelectPlayer{
  width:100%;
  height:20px;
}

#inviteError{
  display:none;
  color:red;
}

.playerName{
  text-align: right;
}

.playerHp{
  text-align: left;
}

.playerName[disabled]{
  color:red;
}

.player{
  columns: 4;
}

.teamTitle{
  text-align: center;
}

.teams{
  margin-bottom: 0%;
  margin-top:5%;
}

.teamsContainer, .gameButtonsContainer,.notificationFromOtherPlayersContainer,.menuIconsContainer {
  margin-bottom:5%;
  margin-top:5%;
}

.gameButtonsContainer{
  align-items: center;
  display: inline-grid;
}


/* to override bootstrap style */
.row{
  --bs-gutter-x:0rem !important 
}

.fullWidth{
  width:100%
}

.playerBoardContainer{
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.commanderZone, .planeswalkerZone,.exiledZone, .graveyardZone {
  justify-content: center;
  align-items: center;
}

.cardZone, .handZone, .landZone, .commanderZone, .planeswalkerZone,.exiledZone, .graveyardZone {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.cardContainer {
  margin:3px;
  height: 95%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  z-index: 9998;
}

.tapped{
  transform: rotate(90deg);
  margin-right:20px;
  margin-left:20px;
}

.deckBackCardOnTheTable {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cardOnTheTable {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.cardOnTheTable img {
  max-width: 100%;
  max-height: 100%;
}

#zoomedHoveredCard{
  width: 93%;
  border-radius: 18px;
}

.zoomedHoveredCardContainer{
  display: flex;
  justify-content: center;
}

.playerNameBoardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.deckBackCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#notificationFromOtherPlayers{
  overflow-y: auto;
  height: 100%;
}

.notificationFromOtherPlayersContainer{
  height: 10%;
}