:root {
  --background-color: #fafafa;
  --primary-color: #7ed6df;
  --border-color: #fff29c;
  --light_Text_color: white;
  --dark_Text_contour: black;
  --option_Text_hover: #bb240a;
  --option_Background_color: darkslategray;
  --option_Background_color_lighter: rgb(64, 105, 105);
  --option_Border_color: #212529;
  --option_Border_color_darker: #15181b;
  --watermarkSize:24px;
  --watermarkCommander:"Commander";
  --watermarkPlaneswalker:"Planeswalker";
  --watermarkExile:"Exile";
  --watermarkGraveyard:"Graveyard";
  --watermarkLands:"Lands";
}

#boardGameContainer {
  z-index: 9999;
  width: 100%;
  display: none;
  height: 100%;
  position: absolute;
  background-color: var(--option_Background_color);
  top:0;
}

@media screen and (max-width: 500px) {
  .deckBackCardOnTheTable {
    position: relative;
    overflow: hidden;
    border-radius:8px;
  }
}

@media screen and (min-width: 500px) {
  .deckBackCardOnTheTable {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius:8px;
  }
}


@media screen and (max-width: 660px) {
  #zoomedHoveredCard {
    display: none !important;
  }

  #rulesGameButton,
  #gameModeGameButton,
  #beginTheGameButton,
  #quitTheGameButton {
    font-size: 11px;
    margin-bottom:5px;
  }
  
  .teams{
    font-size: 11px;
  }
  
}


@media screen and (max-width: 1200px) {


  #inviteSection {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    padding: 2%;
    z-index: 9999;
  }

  #contextMenu {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    padding: 20px;
    z-index: 9997;
    display: none;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #cardInGameContextMenu,#cardSneakedContextMenu {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 90%;
    height: 60%;
    top: 20%;
    left: 5%;
    padding: 20px;
    z-index: 9999;
    display: none;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:13px;
  }

  #zoneInspector {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    padding: 15px;
    z-index: 9998;
    display: none;
    overflow-y: auto;
  }
  
  #zoneInspectorCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    height: -5%;
  }
  


  .cardContainerSneaked {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    height: 200px;
    width: 50px;
    margin: 5px;
  }
  #myDeckAdvancedSearchSearchButton
  {
    margin-right:5px;
  }
  #myDeckAdvancedSearchCloseButton
  {
    margin-left:5px;
  }

  #notificationFromOtherPlayers {
    font-size:10px;
    scrollbar-width: none;
  }
  
}

@media screen and (min-width: 1201px) {


  #inviteSection {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 34%;
    height: 54%;
    top: 23%;
    left: 33%;
    padding: 2%;
    z-index: 9999;
  }

  #contextMenu {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 24%;
    height: 50%;
    top: 25%;
    left: 38%;
    padding: 2%;
    z-index: 9997;
    display: none;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #cardInGameContextMenu,#cardSneakedContextMenu {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 24%;
    height: 50%;
    top: 25%;
    left: 38%;
    padding: 20px;
    z-index: 9999;
    display: none;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #zoneInspector {
    position: absolute;
    background: var(--option_Background_color);
    border-radius: 10px;
    border: 2px solid var(--option_Border_color);
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    padding: 15px;
    z-index: 9998;
    display: none;
    overflow-y: auto;
  }
  
  #zoneInspectorCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    height: -5%;
  }
  

  .cardContainerSneaked {
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    height: 200px;
    width: 50px;
    margin: 5px;
  }

  #myDeckAdvancedSearchSearchButton,
  #startTheGameButton{
    margin-right:5px;
  }
  #myDeckAdvancedSearchCloseButton,
  #backTheGameButton{
    margin-left:5px;
  }
}



#contextCardSneakedToZoneButton{
  width:100%;
}

#zoneInspectorButtonContainer{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}


#contextMenu>button {
  width: 50%;
}

#contextMenuToken {
  display: flex;
}

#contextMenuTokenSelector{
  width:100%
}
#contextMenuTokenQuantity {
  max-width: 50px;
  width:50px
}





.cardOnTheTableSneaked {
  height: 100%;
  border-radius: 8px;
}


#boardGame {
  width: 80%;
  height: 100%;
}

#gameMenuZone {
  width: 20%;
  height: 100%;
  background: azure;
  position: absolute;
  top: 0;
  right: 0%;
  padding: 1%;
  background: var(--option_Background_color);
  border-left: 2px solid var(--option_Border_color);
}

.playerBoard {
  width: 50%;
  height: 50%;
  float: left;
}

.playerBoardExtended {
  height: 50%;
  float: left;
}

.teammateName{
  margin-left:5px;
}

#acceptGameInvitation{
  margin-bottom:5px;
}
#rulesGameButton,
#gameModeGameButton,
#beginTheGameButton,
#quitTheGameButton
 {
  width: 100%;
  margin-bottom:5px;
}

.decreaseHpButton,.increaseHpButton{
  max-width: 30px;
  max-height:30px;
}

#myDeckSetPickerSelector,
#zoneInspector{
  scrollbar-width: none;
}
.handZone,
.deckZone,
.graveyardZone,
.exiledZone,
.landZone,
.planeswalkerZone,
.cardZone,
.commanderZone
{
  scrollbar-width: none;
}

.handZone {
  height: 33%;
}

.deckZone {
  height: 33%;
}

.graveyardZone {
  height: 33%;
  flex-direction: row;
  justify-content: flex-start;

}

.exiledZone {
  height: 33%;
  flex-direction: row;
  justify-content: flex-start;
}

.landZone {
  height: 33%;
}

.tokenZone {}

.cardZone {
  height: 34%;
}

.commanderZone {
  height: 34%;
}

.planeswalkerZone {
  height: 33%;
}


.playerNameZone {
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gameValidities {
  color: green;
}
.gameValidities[disabled] {
  color: red;
}

#startGameButtonContainer {
  align-items: center;
  display: inline-grid;
}

#selectDeckToPlay {
  width: 90%;
  position: relative;
}

#modeSelection {
  width: 90%;
}

.startGameButtonContainerrow {
  position: absolute;
  bottom: 2%;
  width: 89%
}

.friendRow {
  height: 30%;
}

.invitedFriendContainer {
  columns: 2;
}

#invitedFriendsArea {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 2px solid var(--option_Border_color);
  height: 50%;
  max-height: 50%;
  padding-left: 6%;
  overflow-y: auto;
}

#inviteFriends {
  width: 80%;
}

.gameModesRow {
  margin-top: 2%;
}

#validValidity {
  display:none !important;
}
#gameModesText,
#validValidity {
  text-align: center;
}

.gameValidities,
#gameTeamText {
  text-align: center;
}

.teamSelectContainer,
.teammate {
  display: flex;
}

.teamSelectPlayer {
  width: 100%;
}
.removeFromTeam{
  margin-left:5px;
}

#inviteError {
  display: none;
  color: red;
}

.playerName {
  text-align: left;
}

.playerHp {
  text-align: center;
}

.playerName[disabled] {
  color: red;
}

/* .player {
  columns: 4;
} */

.teamTitle {
  text-align: center;
}

.teams {
  margin-bottom: 0%;
  margin-top: 5%;
}

.teamsContainer,
.gameButtonsContainer,
.notificationFromOtherPlayersContainer,
.menuIconsContainer {
  margin-bottom: 5%;
  margin-top: 5%;
}

.gameButtonsContainer {
  align-items: center;
  display: inline-grid;
}


/* to override bootstrap style */
.row {
  --bs-gutter-x: 0rem !important
}

.fullWidth {
  width: 100%
}

.playerBoardContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.commanderZone,
.planeswalkerZone,
.exiledZone,
.graveyardZone {
  justify-content: center;
  align-items: center;
}

.cardZone,
.handZone,
.landZone,
.commanderZone,
.planeswalkerZone,
.exiledZone,
.graveyardZone {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.cardContainer {
  padding: 3px;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  z-index: 9996;
}

.cardContainer[tapped] {
  transform: rotate(90deg);
  margin-right: 20px;
  margin-left: 20px;
}



.cardOnTheTable {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.cardOnTheTable img {
  max-width: 100%;
  max-height: 100%;
}

#zoomedHoveredCard {
  width: 80%;
  border-radius: 18px;
}

.zoomedHoveredCardContainer {
  display: flex;
  justify-content: center;
}

.playerNameBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deckBackCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#notificationFromOtherPlayers {
  overflow-y: auto;
  height: 100%;
}

.notificationFromOtherPlayersContainer {
  height: 10%;
}


.planeswalkerZone{
  border-top:1px solid var(--option_Border_color);
  border-bottom:1px solid var(--option_Border_color);
}

.landZone{
  border:1px solid var(--option_Border_color);
  border-left:1px solid var(--option_Border_color);
  border-right:1px solid var(--option_Border_color); 
}

.exiledZone{
  border-top:1px solid var(--option_Border_color);
  border-bottom:1px solid var(--option_Border_color); 
}

#boardPlayer1 .commanderZone, #boardPlayer3 .commanderZone{
  border-bottom:1px solid var(--option_Border_color); 
}
#boardPlayer2 .commanderZone, #boardPlayer4 .commanderZone{
  border-top:1px solid var(--option_Border_color); 
}

#boardPlayer1 .playerNameZone, #boardPlayer3 .playerNameZone{
  border-bottom:1px solid var(--option_Border_color); 
}
#boardPlayer2 .playerNameZone, #boardPlayer4 .playerNameZone{
  border-top:1px solid var(--option_Border_color); 
}

.handZone{
  border-left:1px solid var(--option_Border_color);
  border-right:1px solid var(--option_Border_color); 

}


.commanderZone::after {
  content: var(--watermarkCommander); /* Testo del watermark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il testo */
  color: rgba(0, 0, 0, 0.1); /* Colore semitrasparente per effetto watermark */
  font-size: var(--watermarkSize); /* Dimensione del testo */
  font-weight: bold;
  pointer-events: none; /* Il testo non interferisce con l'interazione del mouse */
  z-index: 1; /* Assicurati che sia sopra il contenuto */
}

.planeswalkerZone::after {
  content: var(--watermarkPlaneswalker); /* Testo del watermark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il testo */
  color: rgba(0, 0, 0, 0.1); /* Colore semitrasparente per effetto watermark */
  font-size: var(--watermarkSize); /* Dimensione del testo */
  font-weight: bold;
  pointer-events: none; /* Il testo non interferisce con l'interazione del mouse */
  z-index: 1; /* Assicurati che sia sopra il contenuto */
}

.exiledZone::after {
  content: var(--watermarkExile);; /* Testo del watermark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il testo */
  color: rgba(0, 0, 0, 0.1); /* Colore semitrasparente per effetto watermark */
  font-size: var(--watermarkSize); /* Dimensione del testo */
  font-weight: bold;
  pointer-events: none; /* Il testo non interferisce con l'interazione del mouse */
  z-index: 1; /* Assicurati che sia sopra il contenuto */
}

.graveyardZone::after {
  content: var(--watermarkGraveyard); /* Testo del watermark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il testo */
  color: rgba(0, 0, 0, 0.1); /* Colore semitrasparente per effetto watermark */
  font-size: var(--watermarkSize); /* Dimensione del testo */
  font-weight: bold;
  pointer-events: none; /* Il testo non interferisce con l'interazione del mouse */
  z-index: 1; /* Assicurati che sia sopra il contenuto */
}

.landZone::after {
  content: var(--watermarkLands); /* Testo del watermark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra il testo */
  color: rgba(0, 0, 0, 0.1); /* Colore semitrasparente per effetto watermark */
  font-size: var(--watermarkSize); /* Dimensione del testo */
  font-weight: bold;
  pointer-events: none; /* Il testo non interferisce con l'interazione del mouse */
  z-index: 1; /* Assicurati che sia sopra il contenuto */
}

#boardPlayer1 .cardZone, #boardPlayer3 .cardZone{
  border-left:1px solid var(--option_Border_color);
  border-right:1px solid var(--option_Border_color); 
  border-bottom:1px solid var(--option_Border_color); 
}
#boardPlayer2 .cardZone, #boardPlayer4 .cardZone{
  border-left:1px solid var(--option_Border_color);
  border-right:1px solid var(--option_Border_color); 
  border-top:1px solid var(--option_Border_color); 
}

#contextMenuExileCards{
  width:15%;
}
#contextMenuExileDiscardActionSelector,
#contextMenuExileDeckSelector{
  width:35%;
}
#contextMenuExileDeck{
  width: 15% !important;
}

#contextMenuScryCards
{
  width:20% !important;
}

#contextCardGameMenuCountersButton
{
  width:100%;
}

#contextCardGameMenuToDeckSelector,
#contextCardGameMenuCountersSelector
{
  width:100%;
}

#contextMenuScryDeck{
  width:80% !important;
}

.contextMenuActionContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3px;
  margin-bottom:3px;
}

#contextMenuExileContainer{
  display:flex;
}
#contextMenuScryContainer, #contextMenuExileContainer, #contextMenuToken{
  width:100%;
  display:flex;
}

.contextSelectMenuContainers{
  width:100%
}
#contextMenu button,
#cardInGameContextMenu button{
  width:100%
}

#closeCardInGameContextMenu,
#closeContextMenu{
  bottom: 5%;
    position: absolute;
    width:40% !important;
}

#contextListOfAllCounters{
  max-height: 100px;
  min-height:100px;
  overflow-y: auto;
  width: 100%;
  border: 2px solid var(--option_Border_color);
  padding: 5px;
  border-radius: 10px;
}

#contextCardGameMenuCountersQuantitySelector{
  width:100%
}

#contextCardGameMenuCountersButton,
#contextCardGameMenuToDeckButton{
  width:100% !important;
}