:root {
    --background-color: #fafafa;
    --primary-color: #7ed6df;
    --border-color: #fff29c;
    --light_Text_color: white;
    --dark_Text_contour: black;
    --option_Text_hover: #bb240a;
    --option_Background_color: darkslategray;
    --option_Background_color_lighter: rgb(64, 105, 105);
    --option_Border_color: #212529;
    --option_Border_color_darker: #15181b;
    --watermarkSize:24px;
    --watermarkCommander:"Commander";
    --watermarkPlaneswalker:"Planeswalker";
    --watermarkExile:"Exile";
    --watermarkGraveyard:"Graveyard";
    --watermarkLands:"Lands";
}

#initialScreen {
    background-color: var(--dark_Text_contour);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logoAuthor {
    display: block;
    -webkit-animation: fade-out 1s ease-out 2s both;
    animation: fade-out 1s ease-out 2s both;
    position: relative;
}

#logoTitle {
    display: none;
    position: absolute;
}

.logoText {
    font-size: 2rem;
    color: var(--light_Text_color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.logoSubtext {
    font-size: 1rem;
    color: var(--light_Text_color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#usernameText {
    font-size: 2rem;
    color: var(--option_Text_hover);
    font-weight: 500;
    text-shadow: -1px -1px 0 var(--light_Text_color), 1px -1px 0 var(--light_Text_color), -1px 1px 0 var(--light_Text_color), 1px 1px 0 var(--light_Text_color);
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 50px;
    backdrop-filter: blur(7px);
}

#iconOverlay {
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 30px;
}

#playMusic {
    display: none;
}

#initialPageAudio {
    width: 0;
    height: 0;
}

@media (max-width: 768px) {
    .logoText {
        font-size: 1.5rem;
    }

    .logoSubtext {
        font-size: 0.875rem;
    }

    #iconOverlay {
        font-size: 24px;
        margin-right: 15px;
        margin-top: 5px;
    }
}

@media (max-width: 576px) {
    .logoText {
        font-size: 1.25rem;
    }

    .logoSubtext {
        font-size: 0.75rem;
    }

    #iconOverlay {
        font-size: 20px;
        margin-right: 10px;
        margin-top: 5px;
    }
}
