:root {
    --background-color: #fafafa;
    --primary-color: #7ed6df;
    --border-color: #fff29c;
    --light_Text_color: white;
    --dark_Text_contour: black;
    --option_Text_hover: #bb240a;
    --option_Background_color: darkslategray;
    --option_Background_color_lighter: rgb(64, 105, 105);
    --option_Border_color: #212529;
    --option_Border_color_darker: #15181b;
    --watermarkSize:24px;
    --watermarkCommander:"Commander";
    --watermarkPlaneswalker:"Planeswalker";
    --watermarkExile:"Exile";
    --watermarkGraveyard:"Graveyard";
    --watermarkLands:"Lands";
}

.myResponsiveTextBig {
    font-size: 16px;
}
.myResponsiveTextSmall {
    font-size: 18px;
}

#myDeckCardCount{
    width:100%;
}

@media screen and (max-width: 920px) {
    .myResponsiveTextBig {
        font-size: 25px;
    }

    .myResponsiveTextSmall {
        font-size: 14px;
    }

    #gameModeMenu {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1.3);
    }

    #myDeckAdvancedSearch {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        height: 100%;
        overflow-y: auto;
        top:0;
    }
}

@media screen and (min-width: 921px) {
    .myResponsiveTextBig {
        font-size: 35px;
    }

    .myResponsiveTextSmall {
        font-size: 18px;
    }

    #gameModeMenu {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }

    #myDeckAdvancedSearch {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        height: 96%;
        overflow-y: auto;
        top:2%;
        width: 40%;
        left: 30%;
    }

    #myDeckAdvancedSearch button {
        width: 100px;
    }
    
}

#myDeckAdvancedSearch .row {
    margin-top: 10px;
}

.advancedSearchLargeInput {
    width: 100%;
}

.advancedSearchCheckboxGroupContainer,
.advancedSearchCheckboxGroup {
    display: inline-flex;
    margin-right: 15px;
}

.uninteractable {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    pointer-events: none;
    filter: blur(15px);
}


#advancedSearchError {
    color: red;
    display: none;
}

.spinner {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    left: 45%;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


#mainMenu {
    background-image: url("../resources/Chandra.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh; /* Usa 100vh per la piena altezza della viewport */
    position: absolute; /* Usa relative per permettere il posizionamento relativo del contenuto */
    z-index: 1;
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    top:0;
}

#mainMenuVoices {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea a sinistra */
}

.mainMenuVoicesText {
    padding: 10px;
    font-weight: 500;
    font-size: 2rem; /* Aggiusta la dimensione del font */
    color: var(--light_Text_color);
    text-shadow: -1px -1px 0 var(--dark_Text_contour), 1px -1px 0 var(--dark_Text_contour), -1px 1px 0 var(--dark_Text_contour), 1px 1px 0 var(--dark_Text_contour);
}

.mainMenuVoicesText:hover {
    color: var(--option_Text_hover);
    text-decoration: underline;
}


@media (max-width: 768px) {
    .mainMenuVoicesText {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .mainMenuVoicesText {
        font-size: 1.25rem;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}