:root {
    --background-color: #fafafa;
    --primary-color: #7ed6df;
    --border-color: #fff29c;
    --light_Text_color: white;
    --dark_Text_contour: black;
    --option_Text_hover: #bb240a;
    --option_Background_color: darkslategray;
    --option_Background_color_lighter: rgb(64, 105, 105);
    --option_Border_color: #212529;
    --option_Border_color_darker: #15181b;
    --watermarkSize:24px;
    --watermarkCommander:"Commander";
    --watermarkPlaneswalker:"Planeswalker";
    --watermarkExile:"Exile";
    --watermarkGraveyard:"Graveyard";
    --watermarkLands:"Lands";
}

/* Regole di base per la tua classe */
.myResponsiveTextBig {
    font-size: 16px;
}

.myResponsiveTextMedium {
    font-size: 25px;
}

.myResponsiveTextSmall {
    font-size: 18px;
}

/* Media query per schermi più piccoli (ad esempio, dispositivi mobili) */
@media screen and (max-width: 768px) {
    .myResponsiveTextBig {
        font-size: 25px;
    }

    .myResponsiveTextMedium {
        font-size: 18px;
    }

    .myResponsiveTextSmall {
        font-size: 14px;
    }

    #chatContainer {
        top: 30%;
        left: 54%;
        width: 44%;
        height: 40%;
    }

    #optionsMenu {
        top: 27%;
        left: 22%;
        height: 45%;
        width: 60%;
    }

    #rulesMenu {
        top: 5%;
        left: 10%;
        height: 90%;
        width: 80%;
    }

    #gameModeMenu {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1.3);
    }

    #myDeckAdvancedSearch {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        height: fit-content;
    }
}

/* Media query per schermi più grandi (ad esempio, desktop) */
@media screen and (min-width: 768px) {
    .myResponsiveTextBig {
        font-size: 35px;
    }

    .myResponsiveTextMedium {
        font-size: 25px;
    }

    .myResponsiveTextSmall {
        font-size: 18px;
    }

    #chatContainer {
        top: 30%;
        right: 80px;
        width: 300px;
        height: 40%;
    }

    #optionsMenu {
        width: 20%;
        height: 30%;
        top: 35%;
        left: 40%;
    }

    #rulesMenu {
        height: 800px;
        width: 600px;
        top: 6%;
        left: 35%;
    }

    #gameModeMenu {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }

    #myDeckAdvancedSearch {
        position: absolute;
        z-index: 9999;
        display: none;
        background-color: var(--option_Background_color);
        padding: 20px;
        border-radius: 10px;
        border-style: solid;
        align-items: center;
        text-align: center;
        top: 15%;
        width: 40%;
        left: 30%;
        height: fit-content;
    }

    #myDeckAdvancedSearch select {
        height: 30px;
    }

    #myDeckAdvancedSearch button {
        width: 100px;
    }
}

#myDeckAdvancedSearch .row {
    margin-top: 10px;
}

.advancedSearchLargeInput {
    width: 100%;
}

.advancedSearchCheckboxGroupContainer,
.advancedSearchCheckboxGroup {
    display: inline-flex;
    margin-right: 15px;
}

.uninteractable {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    pointer-events: none;
    filter: blur(15px);
}

.inputLogin {
    width: 90%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

#loginForm .form-group {
    margin-bottom: 10px;
}

.heightfivepercent {
    height: 15%;
}

.passwordContainer {
    display: flex;
}

#loginError,
#loginErrorAlreadyLoggedin,
#advancedSearchError {
    color: red;
    display: none;
}

#loginbutton {
    width: 50%;
}

.spinner {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    left: 45%;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#mainMenu {
    background-image: url("../resources/Chandra.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9997;
    display: flex;
    align-items: center;
}

#mainMenuVoices {
    left: 4%;
    position: absolute;
}

.mainMenuVoicesText {
    padding: 10px;
    font-weight: 500;
    color: var(--light_Text_color);
    text-shadow: -1px -1px 0 var(--dark_Text_contour), 1px -1px 0 var(--dark_Text_contour), -1px 1px 0 var(--dark_Text_contour), 1px 1px 0 var(--dark_Text_contour);
}

.mainMenuVoicesText:hover {
    color: var(--option_Text_hover);
    text-decoration: underline;
}

#iconOverlay {
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 30px;
}

#gameInvitation {
    height: 30%;
    position: absolute;
    top: 35%;
    width: 30%;
    left: 35%;
    z-index: 9999;
    background-color: var(--option_Background_color);
    border-radius: 10px;
    border-style: solid;
    padding: 20px;
    display: none;
}

#loginForm {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: var(--option_Background_color);
    border-radius: 10px;
    border-style: solid;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 400px;
    padding: 20px;
}

#optionsMenu {
    position: absolute;
    z-index: 9998;
    display: none;
    background-color: var(--option_Background_color);
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    align-items: center;
    text-align: center;
}

#chatContainer {
    display: block;
    position: absolute;
    z-index: 9997;
    background-color: var(--option_Background_color);
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    align-items: center;
    text-align: center;
    min-height: 300px;
}

#optionsTitle {
    font-size: 20px;
    color: var(--light_Text_color);
    padding-bottom: 20px;
}

.optionsVoices {
    margin-bottom: 10px;
    margin-top: 10px;
    columns: 2;
}

.optionsText {
    color: var(--light_Text_color);
    text-align: left;
    width: 100%;
}

.optionsLowestVoices {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 10px;
    color: var(--light_Text_color);
}

.optionsLowestVoicesForRules {
    width: 94%;
}

.optionsVoices select {
    width: 100%;
}

#myRange {
    width: 100%;
}

/* Options end */


/* Rules :start */
#rulesTitle,
#gameModeTitle {
    font-size: 30px;
    color: var(--light_Text_color);
    padding-bottom: 20px;
}

#rulesMenu {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: var(--option_Background_color);
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    align-items: center;
    text-align: center;
}

#rulesAbilitiesList,
#gameModeList {
    text-align: left;
    overflow-y: auto;
    padding-top: 1%;
    height: 86%;
    padding-right: 3%;
}

.abilityHeader {
    display: flex;
}

.abilityMinusIcon,
.gameModeMinusIcon {
    display: none;
}

.abilityName,
.gameModeName {
    color: var(--light_Text_color);
    margin-left: 10px;
}

.abilityDescription,
.gameModeDescription {
    display: none;
    color: var(--light_Text_color);
    margin-bottom: 10px;
}

.translatedAbility {
    display: none
}

/* Rules end */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* LOGO SCREEN END */